.box {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 2px solid #0000;
  
   box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.7),  0px -2px 15px rgba(199, 199, 199, 0.25) inset,
    0px 4px 15px rgba(199, 199, 199, 0.25) inset;
  background: linear-gradient(#F05A29, #F05A29) padding-box,
    linear-gradient(var(--angle),  #ffffff, #ef6f45,  #ef6f45) border-box;

  animation: rotate 4s linear infinite, rotateShadow 4s linear infinite;
transition: all 0.3s ease;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes rotateShadow {
  0% {
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.7),  0px -2px 15px rgba(199, 199, 199, 0.25) inset,
    0px 4px 15px rgba(199, 199, 199, 0.25) inset;
  }
  25% {
    box-shadow: -2px 0px 4px rgba(255, 255, 255, 0.7),  0px -2px 15px rgba(199, 199, 199, 0.25) inset,
    0px 4px 15px rgba(199, 199, 199, 0.25) inset;
  }
  50% {
    box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.7),  0px -2px 15px rgba(199, 199, 199, 0.25) inset,
    0px 4px 15px rgba(199, 199, 199, 0.25) inset;
  }
  75% {
    box-shadow: 2px 0px 4px rgba(255, 255, 255, 0.7),  0px -2px 15px rgba(199, 199, 199, 0.25) inset,
    0px 4px 15px rgba(199, 199, 199, 0.25) inset;
  }
  100% {
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.7),  0px -2px 15px rgba(199, 199, 199, 0.25) inset,
    0px 4px 15px rgba(199, 199, 199, 0.25) inset;
  }
}
